@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic' , Tahoma;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 85, 0, 0.548);
}
.container{
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.container .info h1{
    font-family: 'Lalezar' , Tahoma;
}
.container form{
    margin: 15px 0 25px;
}
.container form button{
    cursor: pointer;
    background: rgba(255, 85, 0, 0.74);
    color: #fff;
}
.container form input{
    border: 1px solid #999;
}
.container form :where(input , button){
    outline: 0;
    border: 0;
    width: 100%;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}
.container .qr-code{
    border: 1px solid #999;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
}
.hidden{
    display: none;
}




